.game-board {
  background-color: transparent;
  position: relative;
}

.game-board__header {
  padding: 0 6px;
  height: 40px;
  margin-bottom: 20px;
}

.game-board__actions {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.game-board-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  padding: 5px;
  background-color: transparent;
}

.game-board-button:active {
  opacity: 30%;
}

.game-board-button.is-note-on {
  .game-board-button__tooltip {
    background-color: darkseagreen;
  }
}

.game-board-button__tooltip {
  position: absolute;
  background-color: lightgrey;
  padding: 3px;
  border-radius: 6px;
  font-size: 10px;
  top: -6px;
  right: -2px;
}

.game-board-button__icon {
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.game-board-button__text {
  font-size: 13px;
  color: black;
}

.game-board__numbers {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.game-board__number {
  font-weight: 500;
  font-size: 36px;
}

.game-board__number:hover,
.game-board__number:active,
.game-board__number:focus {
  color: dodgerblue;
}


.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 70vw;
  height: 60vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: white;
  color: black;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .alert__text {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 80px;
  }

  .alert__emoji {
    font-size: 80px;
    margin-left: 25px;
  }
}
