.game-board {
  background-color: transparent;
  padding: 0 16px;
}

.game-board__header {
  height: 40px;
  margin-bottom: 20px;
}

.game-board__actions {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.game-board-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  padding: 5px;
  background-color: transparent;
}

.game-board-button:active {
  opacity: 30%;
}

.game-board-button.is-note-on {
  .game-board-button__tooltip {
    background-color: darkseagreen;
  }
}

.game-board-button__tooltip {
  position: absolute;
  background-color: lightgrey;
  padding: 3px;
  border-radius: 6px;
  font-size: 10px;
  top: -6px;
  right: -2px;
}

.game-board-button__icon {
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.game-board-button__text {
  font-size: 13px;
  color: black;
}

.game-board__numbers {
  display: flex;
  justify-content: space-between;
}

.game-board__number {
  padding: 3px;
  font-weight: 500;
  font-size: 30px;
}

.game-board__number:hover,
.game-board__number:active,
.game-board__number:focus {
  color: dodgerblue;
}
